Trias_Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.vdv.de/trias" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vdv.de/trias" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Trias_ModesSupport.xsd"/>
	<xs:include schemaLocation="Trias_FacilitySupport.xsd"/>
	<xs:annotation>
		<xs:documentation>========================================= General ================================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ErrorMessageStructure">
		<xs:annotation>
			<xs:documentation>Structured error messages</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="xs:normalizedString">
				<xs:annotation>
					<xs:documentation>Code of the error situation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Text" type="InternationalTextStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Description of the error situation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrivateCodeStructure">
		<xs:annotation>
			<xs:documentation>Code within scope of a private referential system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="System" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Code of the foreign referential system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Object code within this private/foreign system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================= Participants =============================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ParticipantCodeType">
		<xs:annotation>
			<xs:documentation>Participant identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="ParticipantRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Participant</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ParticipantCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="ParticipantRef" type="ParticipantRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Participant</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>========================================= System users =============================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="UserCodeType">
		<xs:annotation>
			<xs:documentation>User identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="UserRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a User</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="UserCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="UserRef" type="UserRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a User</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="UserIdGroup">
		<xs:annotation>
			<xs:documentation>Reference to a user of a participating system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SystemRef" type="ParticipantRefStructure">
				<xs:annotation>
					<xs:documentation>Ref to partnering system that issued the user id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="UserRef"/>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================= Operators =============================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="OperatorCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of an Operator</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="OperatorRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operator</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OperatorCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OperatorRef" type="OperatorRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operator</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OperatorFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for in/exclusion of transport operators.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether operators in list are to include or exclude from search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OperatorRef" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================= Lines ======================================</xs:documentation>
	</xs:annotation>
	<xs:group name="LineIdentityGroup">
		<xs:annotation>
			<xs:documentation>Line identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineRef" type="LineRefStructure">
				<xs:annotation>
					<xs:documentation>Line Reference.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DirectionRef" type="DirectionRefStructure">
				<xs:annotation>
					<xs:documentation>Identifies the line direction, typically outward or return.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="LineDirectionGroup">
		<xs:annotation>
			<xs:documentation>Line and direction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineRef" type="LineRefStructure">
				<xs:annotation>
					<xs:documentation>Line Reference.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DirectionRef" type="DirectionRefStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Direction Reference.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="LineDirectionStructure">
		<xs:annotation>
			<xs:documentation>Line and direction.</xs:documentation>
		</xs:annotation>
		<xs:group ref="LineDirectionGroup"/>
	</xs:complexType>
	<xs:simpleType name="LineCodeType">
		<xs:annotation>
			<xs:documentation>Line identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="LineRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Line.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LineCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="LineRef" type="LineRefStructure">
		<xs:annotation>
			<xs:documentation>Reference of a Line</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="DirectionCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of a Direction.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="DirectionRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Direction (Transmodel)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DirectionCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LineDirectionFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for in/exclusion of lines (and directions).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="LineDirectionStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to line or line/direction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether lines in list are to include or exclude from search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================= Journeys ============================== -->
	<xs:simpleType name="JourneyCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of a Journey</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="JourneyRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Journey</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="JourneyCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="JourneyRef" type="JourneyRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Journey</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="DatedJourneyRefGroup">
		<xs:annotation>
			<xs:documentation>Reference to a journey on a specific operating day.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="JourneyRef"/>
			<xs:element ref="OperatingDayRef"/>
		</xs:sequence>
	</xs:group>
	<!-- ========================================== Vehicles ============================= -->
	<xs:simpleType name="VehicleCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of a Vehicle.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="VehicleRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Vehicle (Transmodel)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="VehicleCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="VehicleRef" type="VehicleRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a vehicle</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="TimedVehicleRefGroup">
		<xs:annotation>
			<xs:documentation>Reference to a vehicle for a specific point in time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="VehicleRef"/>
			<xs:element name="TimeOfOperation" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Time stamp when the vehicle is operating. In most use cases equal to "now".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!-- ========================================== Vehicles Types ============================= -->
	<xs:simpleType name="VehicleTypeType">
		<xs:annotation>
			<xs:documentation>Identifier of a Vehicle type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="VehicleTypeRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Vehicle Type (Transmodel)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="VehicleTypeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="VehicleTypeRef" type="VehicleTypeRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Vehicle Type.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ========================================== Sharing Services ========================== -->
	<xs:simpleType name="SharingModelEnumeration">
		<xs:annotation>
			<xs:documentation>Sharing service loan and return scheme.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="singleStationBased"/>
			<xs:enumeration value="multipleStationBased"/>
			<xs:enumeration value="nonStationBased"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="SharingServiceUsageGroup">
		<xs:annotation>
			<xs:documentation>Usage parameters of a sharing service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TimeBufferBefore" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typical time a user will need to check in and unlock the vehicle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeBufferAfter" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typical time a user will need to lock the vehicle and check out.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="SharingServiceStructure">
		<xs:annotation>
			<xs:documentation>Service that provides shared vehicles.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="OperatorRef"/>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Public name of the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SharingModel" type="SharingModelEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of the sharing scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="SharingServiceUsageGroup" minOccurs="0"/>
			<xs:element name="InfoURL" type="WebLinkStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to web page providing more details on service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== Facilities ============================= -->
	<xs:simpleType name="FacilityCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of a Facility.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="FacilityRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Facility</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FacilityCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="FacilityRef" type="FacilityRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Facility</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ========================================== Owners ============================= -->
	<xs:simpleType name="OwnerCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of an Owner.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="OwnerRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Owner</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OwnerCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OwnerRef" type="OwnerRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Owner</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ========================================= Operating Days ============================== -->
	<xs:simpleType name="OperatingDayCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of an Operating Day</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="OperatingDayRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operating Day</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OperatingDayCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OperatingDayRef" type="OperatingDayRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operating Day</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OperatingDaysStructure">
		<xs:annotation>
			<xs:documentation>A list of operating days coded a bit pattern between a starting day and end day.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="From" type="xs:date">
				<xs:annotation>
					<xs:documentation>Start date of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="xs:date">
				<xs:annotation>
					<xs:documentation>End date of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pattern" type="BitStringType">
				<xs:annotation>
					<xs:documentation>Bit pattern for operating days between start date and end date. The length of the pattern is equal to the number of days from start date to end date. A bit value of "1" indicates that an event actually happens on the day that is represented by the bit position.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="OperatingDaysGroup">
		<xs:annotation>
			<xs:documentation>Coded as bit pattern</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatingDays" type="OperatingDaysStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bit string definition of operating days.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingDaysDescription" type="InternationalTextStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Textual description of the operation days, e.g. "monday to friday" or "not on holidays".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="WeekdayTimePeriodStructure">
		<xs:annotation>
			<xs:documentation>Time period on a weekday.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Weekday" type="WeekdayTypeEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Type of weekday.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Start time of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Time duration of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WeekdayTypeEnumeration">
		<xs:annotation>
			<xs:documentation>Enumeration of the weekdays.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sunday"/>
			<xs:enumeration value="Monday"/>
			<xs:enumeration value="Tuesday"/>
			<xs:enumeration value="Wednesday"/>
			<xs:enumeration value="Thursday"/>
			<xs:enumeration value="Friday"/>
			<xs:enumeration value="Saturday"/>
			<xs:enumeration value="PublicHoliday"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeneralAttributeStatusEnumeration">
		<xs:annotation>
			<xs:documentation>Enumeration of the status of a general attribute. Default value is Unknown. Planned means, that the attribute reflects the planned state. AsPlanned indicates, that the value is known as planned. DifferentToPlanned indicates, that the value is known as other than planned. RealtimeUpdate indicates a value change be realtime information.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="Planned"/>
			<xs:enumeration value="AsPlanned"/>
			<xs:enumeration value="NotAsPlanned"/>
			<xs:enumeration value="RealtimeUpdate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>==================================== General Attributes =============================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="GeneralAttributeStructure">
		<xs:annotation>
			<xs:documentation>Structured attribute classification with associated text.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="InternationalTextStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text of the attribute to be shown to the user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Internal code of the attribute. Can be used for detection of double occurrences.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="AllFacilitiesGroup"/>
			<xs:element name="Mandatory" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines whether the attribute has to be shown to the user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Importance" type="PercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Importance of the attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL to additional information on this general attribute. If available, the whole attribute text has to be used as the marked link.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="GeneralAttributeStatusEnumeration" default="Unknown" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Determines the status of an attribute e.g. in a refine request call.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
