Trias_Personalisation.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://www.vdv.de/trias" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vdv.de/trias" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Trias_Common.xsd"/>
	<xs:include schemaLocation="Trias_Trips.xsd"/>
	<xs:simpleType name="ValueIdType">
		<xs:annotation>
			<xs:documentation>This type represents identifiers for stored values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!--== Top Level Request/Response Structures ================================================-->
	<xs:element name="PersonalisationRequest" type="PersonalisationRequestStructure"/>
	<xs:complexType name="PersonalisationRequestStructure">
		<xs:choice>
			<xs:element name="SaveValue" type="PersonalisationSaveValueRequestStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Store values. Already stored values with identical identifiers will be overwritten. Each value identifier is only allowed once. Otherwise the behaviour of the storing service is undefined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetrieveValue" type="PersonalisationRetrieveValueRequestStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Retrieve values.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeleteValue" type="PersonalisationDeleteValueRequestStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Delete values. Each value identifier is only allowed once. Otherwise the behaviour of the storing service is undefined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnumerateValues" type="PersonalisationEnumerateValuesRequestStructure">
				<xs:annotation>
					<xs:documentation>Retrieve all identifiers of currently stored values.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SaveTrip" type="PersonalisationSaveTripRequestStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Store trips. The TripId is used as the identifier of each trip. Already stored trips with identical TripId will be overwritten. Each TripId is only allowed once within one request. Otherwise the behaviour of the storing service is undefined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetrieveTrip" type="PersonalisationRetrieveTripRequestStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Retrieve trips.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeleteTrip" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Delete trips. Each trip identifier is only allowed once. Otherwise the behaviour of the storing service is undefined.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PersonalisationDeleteTripRequestStructure"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="EnumerateTrips" type="PersonalisationEnumerateTripsRequestStructure">
				<xs:annotation>
					<xs:documentation>Retrieve all identifiers of currently stored trips.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="PersonalisationResponse" type="PersonalisationResponseStructure"/>
	<xs:complexType name="PersonalisationResponseStructure">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="SaveValue" type="PersonalisationSaveValueResponseStructure" maxOccurs="unbounded"/>
				<xs:element name="RetrieveValue" type="PersonalisationRetrieveValueResponseStructure" maxOccurs="unbounded"/>
				<xs:element name="DeleteValue" type="PersonalisationDeleteValueResponseStructure" maxOccurs="unbounded"/>
				<xs:element name="EnumerateValues" type="PersonalisationEnumerateValuesResponseStructure"/>
				<xs:element name="SaveTrip" type="PersonalisationSaveTripResponseStructure" maxOccurs="unbounded"/>
				<xs:element name="RetrieveTrip" type="PersonalisationRetrieveTripResponseStructure" maxOccurs="unbounded"/>
				<xs:element name="DeleteTrip" type="PersonalisationDeleteTripResponseStructure" maxOccurs="unbounded"/>
				<xs:element name="EnumerateTrips" type="PersonalisationEnumerateTripsResponseStructure"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--== Function SaveValue  =================================================================-->
	<xs:element name="PersonalisationSaveValueRequest" type="PersonalisationSaveValueRequestStructure">
		<xs:annotation>
			<xs:documentation>This element is used to save a user-defined value.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationSaveValueRequestStructure">
		<xs:sequence>
			<xs:element name="ValueId" type="ValueIdType">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the value to store.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string">
				<xs:annotation>
					<xs:documentation>This element contains the value to store.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonalisationSaveValueResponse" type="PersonalisationSaveValueResponseStructure">
		<xs:annotation>
			<xs:documentation>This element is used to express a response for the SaveValueRequestStructure command.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationSaveValueResponseStructure">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains error messages, e.g. if the value could not be stored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueId" type="ValueIdType">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the stored value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== Function RetrieveValue===============================================================-->
	<xs:element name="PersonalisationRetrieveValueRequest" type="PersonalisationRetrieveValueRequestStructure">
		<xs:annotation>
			<xs:documentation>This element is used to retrieve a user-defined value.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationRetrieveValueRequestStructure">
		<xs:sequence>
			<xs:element name="ValueId" type="ValueIdType">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the value to retrieve.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonalisationRetrieveValueResponse" type="PersonalisationRetrieveValueResponseStructure">
		<xs:annotation>
			<xs:documentation>This element is used to express a response for the RetrieveValueRequestStructure command.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationRetrieveValueResponseStructure">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains error messages, e.g. if the value could not be retrieved.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueId" type="ValueIdType">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the retrieved value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element contains the retrieved value, if it could be retrieved.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== Function DeleteValue =================================================================-->
	<xs:element name="PersonalisationDeleteValueRequest" type="PersonalisationDeleteValueRequestStructure">
		<xs:annotation>
			<xs:documentation>This element is used to delete a user-defined value.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationDeleteValueRequestStructure">
		<xs:sequence>
			<xs:element name="ValueId" type="ValueIdType">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the value to delete.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonalisationDeleteValueResponse" type="PersonalisationDeleteValueResponseStructure">
		<xs:annotation>
			<xs:documentation>This element is used to express a response for the DeleteValueRequestStructure command.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationDeleteValueResponseStructure">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains error messages, e.g. if the value could not be deleted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueId" type="ValueIdType">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the deleted value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== Function EnumerateValues =============================================================-->
	<xs:element name="PersonalisationEnumerateValuesRequest" type="PersonalisationEnumerateValuesRequestStructure">
		<xs:annotation>
			<xs:documentation>This element is used to enumerate all user-defined values.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationEnumerateValuesRequestStructure"/>
	<xs:element name="PersonalisationEnumerateValuesResponse" type="PersonalisationEnumerateValuesResponseStructure">
		<xs:annotation>
			<xs:documentation>This element is used to express a response for the EnumerateValuesRequestStructure command.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PersonalisationEnumerateValuesResponseStructure">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ValueId" type="ValueIdType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>All identifiers of currently stored values.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== Function SaveTrip ===================================================================-->
	<xs:complexType name="PersonalisationSaveTripRequestStructure">
		<xs:annotation>
			<xs:documentation>This structure is used to store a trip.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Trip" type="TripStructure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalisationSaveTripResponseStructure">
		<xs:annotation>
			<xs:documentation>This structure contains the response to a store trip request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains error messages, e.g. if the trip could not be stored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripId" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the stored trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== Function RetrieveTrip =================================================================-->
	<xs:complexType name="PersonalisationRetrieveTripRequestStructure">
		<xs:annotation>
			<xs:documentation>This structure is used to retrieve a trip.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TripId" type="xs:NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalisationRetrieveTripResponseStructure">
		<xs:annotation>
			<xs:documentation>This structure contains the response to a retrieve trip request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains error messages, e.g. if the trip could not be retrieved.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripId" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the stored trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trip" type="TripStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element contains the retrieved trip, if it could be successfully retrieved.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== Function DeleteTrip ==================================================================-->
	<xs:complexType name="PersonalisationDeleteTripRequestStructure">
		<xs:annotation>
			<xs:documentation>This structure is used to delete a trip.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TripId" type="xs:NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalisationDeleteTripResponseStructure">
		<xs:annotation>
			<xs:documentation>This structure contains the response to a delete trip request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains error messages, e.g. if the trip could not be deleted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripId" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>This element contains the identifier of the deleted trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== Function EnumerateTrips ==============================================================-->
	<xs:complexType name="PersonalisationEnumerateTripsRequestStructure">
		<xs:annotation>
			<xs:documentation>This structure is used to enumerate all trip identifiers.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="PersonalisationEnumerateTripsResponseStructure">
		<xs:annotation>
			<xs:documentation>This structure contains the response to a enumerate trips request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TripId" type="xs:NMTOKEN" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>All identifiers of currently stored trips.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
