Trias_Trips.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.vdv.de/trias" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vdv.de/trias" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Trias_Common.xsd"/>
	<xs:include schemaLocation="Trias_RequestSupport.xsd"/>
	<xs:include schemaLocation="Trias_JourneySupport.xsd"/>
	<xs:include schemaLocation="Trias_FaresSupport.xsd"/>
	<xs:annotation>
		<xs:documentation>===== Request Structures ===============================================</xs:documentation>
	</xs:annotation>
	<xs:element name="TripRequest" type="TripRequestStructure">
		<xs:annotation>
			<xs:documentation>Trip request element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TripRequestStructure">
		<xs:annotation>
			<xs:documentation>Trip request structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Origin" type="LocationContextStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the origin situation from where the user wants to start.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Destination" type="LocationContextStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the destination situation where the user is heading to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Via" type="ViaStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ordered series of points where the journey must pass through. If more than one via point is given all of them must be obeyed - in the correct order. The server is allowed to replace a via stop by equivalent stops.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotVia" type="NotViaStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of public transport stops where the journey must not pass through. If more than one not via point is given all of them must be obeyed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoChangeAt" type="NoChangeAtStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of public transport stops where the journey is not allowed to interchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Params" type="TripParamStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Options to control the search behaviour and response contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripParamStructure">
		<xs:annotation>
			<xs:documentation>Trip request parameter structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="TripDataFilterGroup"/>
			<xs:group ref="TripMobilityFilterGroup"/>
			<xs:group ref="TripPolicyGroup"/>
			<xs:group ref="TripContentFilterGroup"/>
			<xs:element name="FaresParam" type="FaresParamStructure" minOccurs="0"/>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="TripDataFilterGroup">
		<xs:annotation>
			<xs:documentation>Data to be included/excluded from search, f.e. modes, operators.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PtModeFilter" type="PtModeFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Modes to be considered in trip calculation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineFilter" type="LineDirectionFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lines/Directions to include/exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorFilter" type="OperatorFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transport operators to include/exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="TripPolicyGroup">
		<xs:annotation>
			<xs:documentation>Policies that control the trip search behaviour.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="BaseTripPolicyGroup"/>
			<xs:element name="InterchangeLimit" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum number of interchanges the user will accept per trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlgorithmType" type="AlgorithmTypeEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of the target function that should be applied when searching for optimal trip results.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItModesToCover" type="IndividualModesEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>For each mode in this list a separate monomodal trip shall be found - in addition to inter-modal solutions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MultiPointType" type="MultiPointTypeEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether a solution for any one of multiple origin/destination points is sufficient or a distinct solution for each of the origin/destination points has to be found.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="TripContentFilterGroup">
		<xs:annotation>
			<xs:documentation>Parameters that control the level of detail of the trip results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="BaseTripContentFilterGroup"/>
			<xs:element name="IncludeIntermediateStops" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether the result should include intermediate stops (between the passenger's board and alight stops).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludeFares" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether the result should include fare information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludeOperatingDays" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether the result should include operating day information - as encoded bit string and in natural language.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="AlgorithmTypeEnumeration">
		<xs:annotation>
			<xs:documentation>The type of optimisation that should be applied by the routing algorithm.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="fastest"/>
			<xs:enumeration value="minChanges"/>
			<xs:enumeration value="leastWalking"/>
			<xs:enumeration value="leastCost"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MultiPointTypeEnumeration">
		<xs:annotation>
			<xs:documentation>How the multiple origin/destination points should be considered.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="anyPoint">
				<xs:annotation>
					<xs:documentation>"anyPoint" means, that the requested number of results should be returned, no matter which or how many of the origin or destination locations they use.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="eachOrigin">
				<xs:annotation>
					<xs:documentation>"eachOrigin" means, that for all origin locations the requested number of results should be returned.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="eachDestination">
				<xs:annotation>
					<xs:documentation>"eachDestination" means the same as "eachOrigin" for all destination locations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NotViaStructure">
		<xs:annotation>
			<xs:documentation>Not-via restrictions for a journey, i.e. stops that the journey is not allowed to pass through.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="StopPointRef"/>
				<xs:element ref="StopPlaceRef"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoChangeAtStructure">
		<xs:annotation>
			<xs:documentation>No-change-at restrictions for a journey, i.e. stops where the journey is not allowed to change at.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="StopPointRef"/>
				<xs:element ref="StopPlaceRef"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>====================================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TripRefineRequestStructure">
		<xs:annotation>
			<xs:documentation>TripRefine request structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefineParams" type="TripRefineParamStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Options to control the refine</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripResult" type="TripResultStructure">
				<xs:annotation>
					<xs:documentation>The trip result to be refined by the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripResponseContext" type="TripResponseContextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Context to hold objects, which are referenced within the response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripRefineParamStructure">
		<xs:sequence>
			<xs:group ref="RefineOptionsGroup"/>
			<xs:element name="RefineLegRef" type="xs:NMTOKEN" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Refers to a leg to be refined by the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="TripContentFilterGroup"/>
			<xs:element name="FaresParam" type="FaresParamStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parameters for fare calculation. Only sensible, if IncludeFares is set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>===================== Response structures ============================================================</xs:documentation>
	</xs:annotation>
	<xs:element name="TripResponse" type="TripResponseStructure">
		<xs:annotation>
			<xs:documentation>Trip response element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TripResponseStructure">
		<xs:annotation>
			<xs:documentation>Trip response structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Error messages related to the trip request as a whole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripResponseContext" type="TripResponseContextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Context to hold trip response objects that occur frequently.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripResult" type="TripResultStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The trip results found by the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripResponseContextStructure">
		<xs:annotation>
			<xs:documentation>Context for a trip response.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractResponseContextStructure"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TripResultStructure">
		<xs:annotation>
			<xs:documentation>Structure for a single trip result and its accompanying error messages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResultId" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Id of this trip result for referencing purposes. Unique within trip response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Error messages related to this trip result.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trip" type="TripStructure">
				<xs:annotation>
					<xs:documentation>Information on the trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripFares" type="TripFaresResultStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripStructure">
		<xs:annotation>
			<xs:documentation>Structure for an inter-modal passenger trip.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TripId" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Id of this trip for referencing purposes. Unique within trip response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Overall duration of the trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Departure time at origin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Arrival time at destination.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Interchanges" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Number of interchanges.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Distance" type="DistanceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Trip distance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Occupancy" type="OccupancyEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Level of occupancy during the trip. The maximum during the trip should be considered. If omitted, not known.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripLeg" type="TripLegStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Legs of the trip</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="OperatingDaysGroup" minOccurs="0"/>
			<xs:element ref="SituationFullRef" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripLegStructure">
		<xs:annotation>
			<xs:documentation>Structure for a single leg of a passenger trip.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LegId" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Id of this trip leg. Unique within trip result.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Choice for the type of the trip leg.</xs:documentation>
				</xs:annotation>
				<xs:element name="TimedLeg" type="TimedLegStructure"/>
				<xs:element name="InterchangeLeg" type="InterchangeLegStructure"/>
				<xs:element name="ContinuousLeg" type="ContinuousLegStructure"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimedLegStructure">
		<xs:annotation>
			<xs:documentation>Passenger trip leg with timetabled schedule.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LegBoard" type="LegBoardStructure">
				<xs:annotation>
					<xs:documentation>Stop/Station where boarding is done</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegIntermediates" type="LegIntermediateStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>information about the intermediate passed stop points.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegAlight" type="LegAlightStructure">
				<xs:annotation>
					<xs:documentation>Stop/Station to alight</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service" type="DatedJourneyStructure">
				<xs:annotation>
					<xs:documentation>Service that is used for this trip leg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="OperatingDaysGroup" minOccurs="0"/>
			<xs:element name="LegTrack" type="LegTrackStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Geographic embedding of this leg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParallelService" type="ParallelServiceStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Services running combined with at least parts of this journey, e.g. wing trains. The contained stop sequence interval refers to the original journey.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterchangeLegStructure">
		<xs:annotation>
			<xs:documentation>Leg of a journey that describes the interchange between different services.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="InterchangeMode" type="InterchangeModesEnumeration">
					<xs:annotation>
						<xs:documentation>Mode that is used for this interchange between public services.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ContinuousMode" type="ContinuousModesEnumeration">
					<xs:annotation>
						<xs:documentation>Mode that is used for this interchange between public services.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="LegStart" type="LocationRefStructure">
				<xs:annotation>
					<xs:documentation>Stop/Station where boarding is done</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegEnd" type="LocationRefStructure">
				<xs:annotation>
					<xs:documentation>Stop/Station to alight</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="TimeWindowGroup"/>
			<xs:group ref="InterchangeDurationGroup"/>
			<xs:element name="LegDescription" type="InternationalTextStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text that describes this interchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Length" type="LengthType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Length of this interchange path.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attribute" type="GeneralAttributeStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Note or service attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NavigationPath" type="NavigationPathStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structured model further describing this interchange, its geographic embedding and accessibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SituationFullRef" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContinuousLegStructure">
		<xs:annotation>
			<xs:documentation>Leg of a journey that is not bound to a timetable.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LegStart" type="LocationRefStructure">
				<xs:annotation>
					<xs:documentation>Stop/Station where boarding is done</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegEnd" type="LocationRefStructure">
				<xs:annotation>
					<xs:documentation>Stop/Station to alight</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service" type="ContinuousServiceStructure">
				<xs:annotation>
					<xs:documentation>Service of this leg. May be "walk" in most cases, but also cycling or taxi etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="TimeWindowGroup"/>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Duration of this leg according to user preferences like walk speed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegDescription" type="InternationalTextStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Title or summary of this leg for overview.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Length" type="LengthType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Length of the leg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegTrack" type="LegTrackStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Detailed description of each element of this leg including geometric projection.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NavigationPath" type="NavigationPathStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structured model further describing this interchange, its geographic embedding and accessibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SituationFullRef" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegBoardStructure">
		<xs:annotation>
			<xs:documentation>Describes the boarding situation for a passenger leg.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="StopPointGroup"/>
			<xs:element name="ServiceArrival" type="ServiceCallStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>describes the arrival situation a this leg board stop point (empty for first leg)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceDeparture" type="ServiceCallStructure">
				<xs:annotation>
					<xs:documentation>describes the departure situation at this leg board stop point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeetsViaRequest" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This stop fulfils one of the via requirements stated in the request data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="StopCallStatusGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegAlightStructure">
		<xs:annotation>
			<xs:documentation>Describes the alight situation for a passenger leg.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="StopPointGroup"/>
			<xs:element name="ServiceArrival" type="ServiceCallStructure">
				<xs:annotation>
					<xs:documentation>describes the arrival situation at the leg alight stop point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceDeparture" type="ServiceCallStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>describes the departure situation at this leg alight stop point (empty for last leg)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeetsViaRequest" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This stop fulfils one of the via requirements stated in the request data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="StopCallStatusGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegIntermediateStructure">
		<xs:annotation>
			<xs:documentation>Describes the intermediate stops of a passenger leg.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="StopPointGroup"/>
			<xs:element name="ServiceArrival" type="ServiceCallStructure">
				<xs:annotation>
					<xs:documentation>describes the arrival situation a this leg board stop point (empty for first leg)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceDeparture" type="ServiceCallStructure">
				<xs:annotation>
					<xs:documentation>describes the departure situation at this leg board stop point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeetsViaRequest" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This stop fulfils one of the via requirements stated in the request data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="StopCallStatusGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NavigationPathStructure">
		<xs:annotation>
			<xs:documentation>Description of a piece of a journey. May include geographic information, turn instructions and accessibility information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NavigationSection" type="NavigationSectionStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>One or more navigation sections that build the journey leg.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NavigationSectionStructure">
		<xs:annotation>
			<xs:documentation>Building block of a NavigationPath.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrackSection" type="TrackSectionStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Geographic embedding of this navigation section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TurnDescription" type="InternationalTextStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Textual description of a manoeuvre. This should imply the information from Manoeuvre, TurnAction, and TrackSection.RoadName.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manoeuvre" type="ManoeuvreEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code for manoeuvre.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TurnAction" type="TurnActionEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code for turn action.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DirectionHint" type="InternationalTextStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Textual direction hint for better understanding, e.g. "follow signs to Hamburg".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bearing" type="AbsoluteBearingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Absolute bearing after the described manoeuvre.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccessPath" type="AccessPathStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the type of accessibility on this navigation section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SituationFullRef" type="SituationFullRefStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ManoeuvreEnumeration">
		<xs:annotation>
			<xs:documentation>Types of manoeuvres.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="origin"/>
			<xs:enumeration value="destination"/>
			<xs:enumeration value="continue"/>
			<xs:enumeration value="keep"/>
			<xs:enumeration value="turn"/>
			<xs:enumeration value="leave"/>
			<xs:enumeration value="enter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TurnActionEnumeration">
		<xs:annotation>
			<xs:documentation>Types of turn actions.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="sharp left"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="half left"/>
			<xs:enumeration value="straight on"/>
			<xs:enumeration value="half right"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="sharp right"/>
			<xs:enumeration value="uturn"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="InterchangeDurationGroup">
		<xs:annotation>
			<xs:documentation>Model of interchange durations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Overall duration of this interchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WalkDuration" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Walk time as part of the overall interchange duration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BufferTime" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Buffer time as part of the overall interchange duration. Buffer times, f.e. check in/out times, sometimes are mandatory for using certain services as f.e. airplanes, ferries or highspeed trains.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="AccessFeatureEnumeration">
		<xs:annotation>
			<xs:documentation>Allowed values for a AccessFeature.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="lift"/>
			<xs:enumeration value="stairs"/>
			<xs:enumeration value="seriesOfStairs"/>
			<xs:enumeration value="escalator"/>
			<xs:enumeration value="ramp"/>
			<xs:enumeration value="footpath"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransitionEnumeration">
		<xs:annotation>
			<xs:documentation>Transition types for interchanges.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="up"/>
			<xs:enumeration value="down"/>
			<xs:enumeration value="level"/>
			<xs:enumeration value="upAndDown"/>
			<xs:enumeration value="downAndUp"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AccessPathStructure">
		<xs:annotation>
			<xs:documentation>Description of a path in terms of accessibility.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Transition" type="TransitionEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether path is up down or level .</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccessFeatureType" type="AccessFeatureEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of physical feature of path link.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number how often the access feature occurs in this AccessPath.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FacilityRef" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to facility used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>====================================================</xs:documentation>
	</xs:annotation>
	<xs:element name="TripRefineResponse" type="TripRefineResponseStructure">
		<xs:annotation>
			<xs:documentation>TripRefine response element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TripRefineResponseStructure">
		<xs:annotation>
			<xs:documentation>TripRefine response structure</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Error messages related to the trip request as a whole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripResponseContext" type="TripResponseContextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Context to hold objects, which are referenced within the response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnknownLegRef" type="xs:NMTOKEN" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>refers to a leg that was not found in the data of the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripResult" type="TripResultStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The trip result refined by the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
